  <h1> Add a drink!</h1>
  <%= form_for @drink do |f| %>
  <%= f.label :name %>
  <br/>
  <%= f.text_field :name %>
  <br/><br/>
  <%= f.label :price %>
  <br/>
  <%= f.text_field :price %>
  <br/><br/>
  <%= f.submit %>
  <% end %>
